---
layout: default
---
{% assign author = site.authors[page.author_key] %}
<div class="row post-top-meta mb-5">
  <div class="col-md-2">
    <img class="author-thumb" src="{{ author.avatar | relative_url }}" alt="{{ author.display_name }}">
  </div>
  <div class="col-md-10">
    <h1 class="posttitle">{{ author.display_name }}</h1>
    {% if author.description %}<span class="author-description">{{ author.description }}</span>{% endif %}
  </div>
</div>

<div class="row">
  {% assign author_posts = site.posts | where: "author", page.author_key %}
  {% for post in author_posts %}
  <div class="col-md-4 mb-5">
    {% include postbox.html %}
  </div>
  {% endfor %}
</div>
